#root {
  text-align: center;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease; /* Transición suave para cambios de fondo */
}

.App.light {
  background-color: #ffffff; /* Fondo para tema claro */
  color: #333; /* Color de texto para tema claro */
}

.App.dark {
  background-color: #333333; /* Fondo para tema oscuro */
  color: #ffffff; /* Color de texto para tema oscuro */
}